<html>
<head>
    <title>FindIt</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="top-container">
        <div class="logo">
            <h1>FindIt</h1>
            <h3>Все маркетплейсы в одном</h3>
        </div>
        <div class="top-container-middle">
            <form action="/favorite/" class="favorite-page">
                <button type="submit"><img src="../static/heart2.svg"></button>
            </form>
            <form action="/search/" method="POST" class="search">
                <input type="search" placeholder="{{ search_text }}" name="text" class="input-place">
                <button type="submit" class="input-btn">
                    <img src="../static/search-icon.svg">
                </button>
            </form>
        </div>
        <div class="sort">
          <form action="/sort_type=popularity/" method="POST">
              <button type="submit" name="popularity">по популярности</button>
          </form>
          <form action="/sort_type=price_up/" method="POST">
              <button type="submit" name="price_up">по возрастанию цены</button>
          </form>
          <form action="/sort_type=price_down/" method="POST">
              <button type="submit" name="price_down">по убыванию цены</button>
          </form>
          <form action="/sort_type=newly/" method="POST">
              <button type="submit" name="newly">по новизне</button>
          </form>
      </div>
    </div>
    <div class="search-result">
        {% if len == 0 %}
            <h1>Ничего не найдено</h1>
        {% endif %}
        {% for id, product in products %}
          <div class="product-card">
            <a href="{{ product.get_url() }}">
              <img src="{{ product.get_img() }}" class="product-img">
            </a>
            <span class="product-name">{{ product.get_name() }}</span>
            <div class="product-card-bottom">
                <div class="product-price">
                  <span>{{ product.get_discounted_price() }}₽</span>
                  <span><s>{{ product.get_price() }}₽</s></span>
                </div>
                <form action="/make_favorite/" method="POST" class="favorite-block">
                    <input hidden value="{{ id }}" type="text" name="prod_id">
                    {% if product.is_in_favorite() %}
                    <button type="submit" class="favorite-btn"><img src="../static/heart2.svg"></button>
                    {% else %}
                    <button type="submit" class="favorite-btn"><img src="../static/heart1.svg"></button>
                    {% endif %}
                </form>
            </div>
          </div>
        {% endfor %}
    </div>
</body>
<footer>
  <h1>Учебный проект по курсу Python МФТИ осень 2023</h1>
</footer>
</html>